@media (max-width: 576px) {
    #header-container {
        aspect-ratio: 10 / 4;
    }
.image_overlay{
 
  left: -30% !important;
}
.image_tick_container{
   

    border-radius: 1rem !important;
    padding: 1rem !important;
    // top: 25% !important;
    right: -2.5rem !important;
    width: 120px !important;
    .text-32{
        font-size: 1.5rem !important;
    }
    .text-16{
        font-size: .875rem !important;
    }
    .image_tick{
        width: 1.875rem !important;
    }
}
.mb_navbar{
    padding: 0rem !important;
}

.image_overlay_2{

    left:25% ;
}
.growth_container{
    padding: 1rem !important;
.growth_list{
    padding: 0 !important;
  
   li{
    flex-direction: column !important;
   }
}


}
.btn-gradient{
    font-size: .875rem !important;
}
main{
    padding: 0rem !important;
}
hgroup{
    p{
        font-size: .75rem !important;
    }
}
}
