#header {
width: 100%;


    

    .header-content{
        height: 70%;
    }

}
#header-container {
    aspect-ratio: 12/4;
}
@media (min-width: 992px) {
    #header{
        height: calc(100vh - 90px);
    }
    
}
.header-image{

    .img-container{
  max-height: 500px;
        border: 5px solid white;
        border-radius: 1.25rem;
        box-shadow: 14px 14px 70px 0 $primary_shadow;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

       video{
        object-fit: cover;
        aspect-ratio: 1 / 1;
        width: 100%;
        height: auto;
       }
    }

  
}
.header-content{
    h1{
        text-transform: capitalize;
    }
}
.marquee_animation{
    /* Overlay+Border+OverlayBlur */
    height: 15%;

box-sizing: border-box;

background: rgba(255, 255, 255, 0.4);

border: 1px solid $small_border;
backdrop-filter: blur(5px);

border-radius: 10px;


    padding: 1rem 0;
    .marquee{
        padding: 0 2rem;
        height: 44px;
        gap: 4rem;
            flex-shrink: 0;
            transform: translateX(-100%);
            .image{
               
               
                img{
                   object-fit: cover;
                }
               
        
            }
        }
}



